@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: "Fredoka", sans-serif;
    background-color: #021526;
}
#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo {
    color: whitesmoke;
    font-size: 36px;
}
.subtitulo {
    color: whitesmoke;
    font-size: 20px;
}
.tarjetas {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.tarjetas-de-mokepon {
    color: whitesmoke;
    font-size: 10px;
    background: #03346E;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
.tarjetas-de-mokepon img {
    width: 50px;
}
input {
    display: none;
}